<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- inject layout html and fragment called head -->
<head th:replace="~{layout :: head}">
</head>
<body class="main-body">

<!-- inject layout html and fragment called navigation-->
<nav th:replace="~{layout :: navigation}"></nav>

<!-- inject layout html and fragment called header. passing breadCrumbs as a parameter-->
<!--breadCrumbs didapat dari author controller-->
<!--  breadCrumbs merupakan key dari model yang dikirim oleh controller  -->
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>

<main>
    <div style="text-align: center">
        <h2>
            Anda tidak bisa membuat reservasi baru selama masih ada informasi
            <br>didalam menu my reservation.
            <br>Batalkan reservasi yang ada saat ini, atau lunasi dan tunggu setelah tanggal check out,
            <br>baru anda bisa membuat reservasi baru
        </h2>
        <div class="link-container">
            <a th:href="@{/room/vacant}" class="blue-button">Back to Vacant Room</a>
        </div>
    </div>
</main>

<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>