<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{login-layout :: head}"></head>
<body class="authentication-body">
<div class="authentication-wrapper">
    <header th:replace="~{login-layout :: header}"></header>
    <main>
        <h1>Sign In</h1>
        <form method="post" th:attr="action=@{/authenticating}">
            <div>
                <div th:if="${param.error}">
                    <div class="field-validation-error">
                        Invalid username or password
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="field-validation-success">
                        You have been logged out
                    </div>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="text" name="username" placeholder="username" autocomplete="off"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">sign in</button>
        </form>
        <div class="link-container">
            <a th:href="@{/registerForm}">Click here to register</a>
        </div>
    </main>
</div>
</body>
</html>