<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
<main>
    <form method="post" class="upsert-form" th:attr="action=@{/customer/update}" th:object="${customer}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{username}"/>
        <table>
            <tbody>
            <tr>
                <td><label>Fullname</label></td>
                <td>
                    <input type="text" th:field="*{name}">
                    <div class="field-validation-error" th:errors="*{name}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td>
                    <input type="text" th:field="*{email}">
<!--                    untuk error yang dari field-->
                    <div class="field-validation-error" th:errors="*{email}"></div>
<!--                    // untuk error yang ada di class-->
                    <div class="field-validation-error" th:errors="${customer}"></div>
                </td>
            </tr>
            <tr>
                <td class="textarea-label"><label>Address</label></td>
                <td>
                    <textarea th:field="*{address}"></textarea>
                    <div class="field-validation-error" th:errors="*{address}"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="blue-button" type="submit" th:text="${type} + ' Customer'"></button>
    </form>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>