<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<!-- inject layout html and fragment called head -->
<head th:replace="~{layout :: head}">
</head>
<body class="main-body">

<!-- inject layout html and fragment called navigation-->
<nav th:replace="~{layout :: navigation}"></nav>

<!-- inject layout html and fragment called header. passing breadCrumbs as a parameter-->
<!--breadCrumbs didapat dari author controller-->
<!--  breadCrumbs merupakan key dari model yang dikirim oleh controller  -->
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
<main>
    <form method="post" class="upsert-form alternate-action" th:object="${room}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" th:field="*{id}"/>
        <table th:attr="data-action=${type}">
            <!--                    untuk error skala class-->
            <div class="field-validation-error" th:errors="${room}"></div>
            <tbody>
            <tr>
                <td><label>Room Number*</label></td>
                <td>
                    <input type="text" th:field="*{roomNumber}">
                    <div class="field-validation-error" th:errors="*{roomNumber}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Type*</label></td>
                <td>
                    <select th:field="*{roomType}">
                        <option value="null" disabled >--> Choose Type <--</option>
                        <option th:each="option : ${typeDropdown}" th:value="${option.stringValue}"
                                th:text="${option.text}" th:selected="${option.stringValue == roomType}"/>
                    </select>
                    <div class="field-validation-error" th:errors="*{roomType}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Price*</label></td>
                <td>
                    <input type="text" th:field="*{price}">
                    <div class="field-validation-error" th:errors="*{price}"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="blue-button" type="submit" th:text="${type} + ' Room'"></button>
    </form>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>